.profile__text {
  max-width: 415px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  position: absolute;
  margin-top: 117px;
  margin-left: 30px;
}
