.footer {
  max-width: 318px;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 900px) {
  .footer {
    margin-left: 19px;
  }
}

@media only screen and (max-width: 320px) {
  .footer {
    max-width: 282px;
  }
}
