.button {
  max-width: 358px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 2px;
  margin: 48px 36px 36.51px 36px;
  text-align: center;
  padding-top: 13.66px;
  padding-bottom: 18.49px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 705px){
  .button{
    max-width: 238px;
    margin: 46px 22px 25px 22px;
  }
}
